__pycache__/
*.pyc
.venv/
venv/
.env
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
model/checkpoints/*.pt
logs/*.jsonl
!logs/predictions_sample.jsonl
.ipynb_checkpoints/
.DS_Store
